* {
    margin: 0px;
    padding: 0px;
}

.main-container {
    display: flex;
    background: url('../img/gh-inde-square.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.main-form {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: firebrick;
    flex-direction: column;
    border-radius: 15px 15px;
}

.headerdiv {
    display: flex;
    background-color: gray;
    flex: 0.1;
}

.imagediv {
    display: flex;
    background-color: rebeccapurple;
    flex: 0.2;
}

.inputdiv {
    display: flex;
    background-color: blue;
    flex: 0.3;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.myinputfields {
    padding: 10px 5px;
}

.buttondiv {
    display: flex;
    background-color: violet;
    flex: 0.2;
}

.footerdiv {
    display: flex;
    background-color: indigo;
    flex: 0.1;
}