* {
    margin: 0;
}

.main {
    height: 100vh;
}

#brand {
    color: #fff;
}

.navbar {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
}

.links li {
    list-style: none;
    margin-right: 10px;
}

header {
    background-color: teal;
    height: 200px;
}

.content {
    display: flex;
    height: 200px;
    background-color: aquamarine;
}

.news {
    flex: 0.7;
}

.reactions {
    display: flex;
    flex-direction: column;
    background-color: azure;
    flex: 0.3;
}

footer {
    background-color: burlywood;
    text-align: center;
}